@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */

:root {
    --light-blue: #007bff;
    --dark-blue: #0069d9;

    --light-grey: #bbbbbb;
    --dark-grey: #aaaaaa;

    --light-green: #00b159;
    --dark-green: #008744;


    --light-red: #ff6f69;
    --dark-red: #ee4035;

    --light-yellow: #ffc425;
    --dark-yellow: #edc951;

    --light-info: #8dbdff;
    --dark-info: #64a1f4;

    --light-white: #ffffff;
    --dark-white: #bbbbbb;

    --light-black: #000000;
    --dark-black: #1a1a1a;
}

div {
    display: flex;
    flex-direction: column;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.btner {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
}

.btner:focus,
.btner:hover {
    cursor: pointer;
    text-decoration: none;
}

.btner-blue {
    background-color: var(--dark-blue);
}

.btner-blue:hover {
    background-color: var(--light-blue);
}

.btner-green {
    background-color: var(--dark-green);
}

.btner-green:hover {
    background-color: var(--light-green);
}

.btner-grey {
    background-color: var(--dark-grey);
}

.btner-grey:hover {
    background-color: var(--light-grey);
}

.btner-red {
    background-color: var(--dark-red);
}

.btner-red:hover {
    background-color: var(--light-red);
}

.btner-yellow {
    color: #000;
    background-color: var(--dark-yellow);
}

.btner-yellow:hover {
    background-color: var(--light-yellow);
}

.btner-info {
    color: #000;
    background-color: var(--dark-info);
}

.btner-info:hover {
    background-color: var(--light-info);
}

.btner-white {
    background-color: var(--dark-white);
}

.btner-white:hover {
    background-color: var(--light-white);
}

.btner-black {
    background-color: var(--dark-black);
}

.btner-black:hover {
    background-color: var(--light-black);
}